@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

nav .brand-logo{
    font-size: 1.5rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: rgb(248, 249, 250);
    color: #333333;
}

main {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer a img {
	margin-bottom: -8px;
}

.main-card {
    padding-top: 50px;
    padding-bottom: 50px;
}
